# OS specific
.DS_Store
Thumbs.db

# Editor specific
.idea/
.vscode/
*.swp
*.swo
.history/

# Node.js (Global)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Backend (blind-box-backend)
blind-box-backend/logs/
blind-box-backend/.env
blind-box-backend/coverage/
blind-box-backend/dist/

# Frontend (blind-box-miniprogram)
blind-box-miniprogram/miniprogram_npm/
blind-box-miniprogram/project.private.config.json
